@import 'styles/mixins';
@import 'styles/variables';

.header {
  padding: 0 1.6rem;

  .modal {
    width: auto;
  }

  .beta {
    @include flex(center, center);
    height: 30px;
    background-color: $clr-ursa-red;
    box-shadow: 0 0 0 100vmax $clr-ursa-red;
    clip-path: inset(0 -100vmax);

    br {
      display: none;
    }

    p {
      color: #fff;
    }

    a {
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__container {
    height: 90px;
    @include flex(space-between, center);

    & > a {
      svg {
        height: 50px;
        width: auto;
      }
    }

    & > div {
      @include flex($align: center, $gap: 3.6rem);

      a {
        font-size: 1.4rem;
        font-weight: 500;
        color: $clr-accent;
      }

      a {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .header {
    .beta {
      height: auto;
      padding: 0.5rem 0;
      text-align: center;

      br {
        display: block;
      }
    }

    &__container {
      & > div {
        flex-direction: column;
        gap: 0;

        select {
          order: 1;
        }
      }
    }
  }
}
