@import 'styles/mixins';
@import 'styles/variables';

.report {
  display: grid;
  place-content: center;
  padding: 5rem 3rem;
  background-color: #fff;

  & > button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    fieldset {
      @include floatingLabelInput;
    }

    fieldset:nth-of-type(3) {
      width: 100%;
      grid-column: 1 / -1;

      textarea {
        width: 100%;
        border: 0;
        outline: none;
        resize: none;
      }
    }

    button {
      justify-self: end;
      grid-column: 1 / -1;
    }
  }
}

@media screen and (max-width: $lg) {
  .report {
    form {
      grid-template-columns: 1fr;
    }
  }
}
